//============================================
// breakpoint
//============================================
@mixin sp {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

@mixin tab {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}
@mixin tab-sm {
  @media only screen and (max-width: 992px) {
    @content;
  }
}

@mixin lg {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}
@mixin desktop {
  @media only screen and (min-width: 1025px) {
    @content;
  }
}
@mixin md {
  @media only screen and (min-width: 768px) {
    @content;
  }
}
@mixin max-1280 {
  @media only screen and (max-width: 1280px) {
    @content;
  }
}
@mixin ic-arrow($right) {
  content: '';
  position: absolute;
  right: $right;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 8px;
  transition: all 0.3s ease-in-out;
  background: url(/assets/img/common/icon/icon_arrow01.svg) no-repeat center;
}

@keyframes loop1 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
@keyframes scroll {
    0% {
      transform: translateY(0);
    }

    100% {
     transform: translateY(-50%);
    }
  }
