//baseWidth
$base-width: 1080px;
$header-height: 80px;

$jp-fonts: 'Zen Kaku Gothic New', YuGothic, 'ヒラギノ角ゴ Pro',
  'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif;
$en-fonts: 'Montserrat', sans-serif;
$en-fonts2: 'Quicksand', sans-serif;

//color common
$primary: #f0ad2c;
$white: #fff;
$gray-300: #d4d1cf;
$gray-100: #e2e2e2;
$brown-900: #534741;
$brown-400: #e2d6bc;
$brown-200: #f2eee7;
$brown-100: #faf8f4;

