//baseWidth
$base-width: 1080px;
$header-height: 80px;

$jp-fonts: 'Zen Kaku Gothic New', YuGothic, 'ヒラギノ角ゴ Pro',
  'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif;
$en-fonts: 'Poppins', sans-serif;

//color common
$primary: #b49055;
$white: #fff;
$gray: #808080;

