@use '../abstracts' as *;

/*------------------------------------------------------------
    Base
------------------------------------------------------------*/
html {
  font-size: 62.5%;

  * {
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}

body {
  font-family: $jp-fonts;
  font-size: 1.4rem;
  line-height: 1.5;
  position: relative;
}

main {
  overflow: hidden;
}