<footer class="footer">
  <div class="container">
    <div class="footer__flex">
      <div class="footer__info">
        <div class="footer__logo">
          <a href="/">
            <img lazy="loading" src="/assets/img/common/logo-h.png" alt="ながい内科循環器内科クリニック 求人採用サイト">
            <p class="note">求人採用サイト</p>
          </a>
        </div>
        <p class="footer__address">〒562-0012<br>箕面市白島1-2-15 ラポール白島3F</p>
        <p class="footer__tel"><span>Tel.</span>072-727-2121</p>
      </div>
      <div class="footer__nav">
        <ul class="footer__menu">
          <li>
            <a href="#">HOME</a>
          </li>
          <li>
            <a href="#">院長紹介</a>
          </li>
          <li>
            <a href="#">医院紹介</a>
          </li>
          <li>
            <a href="#">スタッフインタビュー</a>
          </li>
          <li>
            <a href="#">ながい内科循環器内科クリニックで働く10の魅力</a>
          </li>
          <li>
            <a href="#">私たちが大切にしていること（理念）</a>
          </li>
          <li>
            <a href="#">ながい内科循環器内科クリニックって<br>どんなところ？</a>
          </li>
          <li>
            <a href="#">よくある質問</a>
          </li>
          <li>
            <a href="#">サイトマップ</a>
          </li>
          <li>
            <a href="#">お問い合わせ</a>
          </li>
          <li>
            <a href="#">新着情報</a>
          </li>
          <li>
            <a href="#">求める人物像</a>
          </li>
          <li>
            <a href="#">当院の福利厚生・待遇について</a>
          </li>
          <li>
            <a href="#">院長に聞くプライベート・<br>仕事・これからの夢</a>
          </li>
          <li>
            <a href="#">募集要項一覧</a>
          </li>
          <li>
            <a href="#">面談のお問い合わせ</a>
          </li>
          <li>
            <a href="#">見学のお問い合わせ</a>
          </li>
          <li>
            <a href="#">1日の流れについて</a>
          </li>
          <li>
            <a href="#">入植後の流れ・キャリア形成</a>
          </li>
        </ul>
      </div>
    </div>
    <p class="footer__copyright">©ながい内科循環器内科クリニック</p>
  </div>
  <div class="js-totop">
    <span></span>
  </div>
</footer>
<div class="sticky">
  <ul>
    <li class="tel">
      <a href="tel:072-727-2121" class="u-tel">
        <div class="icon">
          <img lazy="loading" class="pc" src="/assets/img/common/icon/icon_phone.svg" alt="電話">
          <img lazy="loading" class="sp-only" src="/assets/img/common/icon/icon_phone02.svg" alt="電話">
        </div>
        <p class="txt"><span class="pc">072-727-2121</span><span class="sp-only">電話</span></p>
      </a>
    </li>
    <li class="mail">
      <a href="#" target="_blank" rel="noopener noreferrer">
        <div class="icon">
          <img lazy="loading" src="/assets/img/common/icon/icon_mail.svg" alt="メール">
        </div>
        <p class="txt">メール</p>
      </a>
    </li>
    <li class="map sp-only">
      <div class="btn_modal">
        <div class="icon">
          <img lazy="loading" src="/assets/img/common/icon/icon_train.svg" alt="アクセス">
        </div>
        <p class="txt">
          <span class="open">アクセス</span>
          <span class="close">閉じる</span>
        </p>
      </div>
    </li>
    <li class="entry">
      <a href="#" target="_blank" rel="noopener noreferrer">
        <p class="txt"><span>ENTRY</span></p>
      </a>
    </li>
  </ul>
  <div class="modal02 modal-map">
    <p class="infor__address">〒562-0012 <br class="sp-only">箕面市白島1-2-15 ラポール白島3F</p>
    <div class="btn03 tel">
      <a href="tel:072-727-2121" class="btn03__txt u-tel"><span>072-727-2121</span></a>
    </div>
    <div class="btn__map">
      <a href="https://maps.app.goo.gl/jNfu1h3zijCxc6Bs9" target="_blank" rel="noopener noreferrer">GoogleMaps</a>
    </div>
  </div>
</div>