<header class="header">
  <div class="header__inner">
    <div class="header__logo">
      <a href="<%= baseUrl() %>" class="header__logoLink">
        <img src="/assets/img/common/logo.png" class="header__logoimg" alt="糖尿病専門サイト" />
      </a>
      <h1 class="header__title">Page title h1</h1>
    </div>
    <div class="header__content">
      <nav class="header__nav">
        <ul class="menu">
          <li class="menu__item">
            <a href="<%= baseUrl() %>" class="menu__link current_page_item">Home</a>
          </li>
          <li class="menu__item menu-item-has-children col3">
            <p class="menu__title">糖尿病内科</p>
            <div class="subInner">
              <ul class="sub__menu">
                <li class="menu__item">
                  <p class="sub__menu__link">医師紹介</p>
                  <div class="subInner">
                    <ul class="sub__menu">
                      <li class="menu__item"><a href="#" class="sub__menu__link">医師紹介</a></li>
                      <li class="menu__item"><a href="#" class="sub__menu__link">当院が選ばれる理由</a></li>
                      <li class="menu__item"><a href="#" class="sub__menu__link">ドクターズインタビュー</a></li>
                      <li class="menu__item"><a href="#" class="sub__menu__link">採用情報</a></li>
                      <li class="menu__item"><a href="#" class="sub__menu__link">お知らせ</a></li>
                    </ul>
                  </div>
                </li>
                <li class="menu__item"><a href="#" class="sub__menu__link">当院が選ばれる理由</a></li>
                <li class="menu__item"><a href="#" class="sub__menu__link">ドクターズインタビュー</a></li>
              </ul>
            </div>
          </li>
          <li class="menu__item menu-item-has-children col2">
            <a class="menu__link ">クリニック紹介</a>
            <div class="subInner">
              <ul class="sub__menu">
                <li class="menu__item"><a href="#" class="sub__menu__link">医師紹介</a></li>
                <li class="menu__item"><a href="#" class="sub__menu__link">当院が選ばれる理由</a></li>
                <li class="menu__item"><a href="#" class="sub__menu__link">ドクターズインタビュー</a></li>
                <li class="menu__item"><a href="#" class="sub__menu__link">採用情報</a></li>
                <li class="menu__item"><a href="#" class="sub__menu__link">お知らせ</a></li>
              </ul>
            </div>
          </li>
          <li class="menu__item">
            <a href="<%= baseUrl() %>page-sample/" class="menu__link ">糖尿病の症状</a>
          </li>
          <li class="menu__item">
            <a href="<%= baseUrl() %>page-sample/" class="menu__link ">糖尿病の治療</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="nav__hamburger js-menu">
      <span class="hamburger-line"></span>
    </div>
  </div>

</header>