@use '../_style/abstracts/' as *;

//admin visual style
html {
  font-size: 62.5%;

  * {
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}

section {
  border: 2px solid #7bcdea;
  padding: 20px;
  margin-top: 20px;
}

p {
  border: 1px solid #989696;
  padding: 10px;
  position: relative;
  display: block;
}

section::before,
p::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-100%);
  padding: 5px;
  font-size: 12px;
  color: #fff;
}

section::before {
  content: 'Section';
  background-color: #7bcdea;
}

p::before {
  content: 'Paragraph ';
  background-color: #989696;
}

.caption::before {
  content: 'Caption';
}

table {
  width: 100%;
}

.mce-object-iframe {
  width: 100%;
}

//editor style
// @import "../_style/components/content";
@import '../_style/components/button';
@import '../_style/components/faq';
@import '../_style/utilities/index';

figure {
  margin: 0;
}

.topic__list01,
.topic__list--link,
.list-button02 {
  list-style: none;
}

.faq .faq__panel {
  display: block !important;
}

h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
  margin: 30px 0;
}

ul {
  list-style-type: none;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 32px;
  font-weight: 700;
  color: #7bcdea;
}

h4 {
  font-size: 28px;
  font-weight: 700;
  color: #e8a1a1;
}

h5 {
  font-size: 24px;
  font-weight: 700;
  color: #9bd87e;
}

h6 {
  font-size: 20px;
  font-weight: 700;
  color: #0c570c;
}

table th {
  background-color: #e4ecf7;
  padding: 10px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  color: #0f326c;
}

table td {
  background-color: #fff;
  padding: 10px 15px;
  color: #555;
  font-size: 16px;
}

.clearfix {
  display: block;

  &::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    opacity: 0;
  }
}

.image--l,
.image--r {
  position: relative;

  .caption {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
  }

  img {
    max-width: 100%;
    height: 100%;
  }
}

.image--l {
  float: left;
  margin-right: 35px;
  margin-bottom: 15px;
}

.image--r {
  float: right;
  margin-left: 35px;
  margin-bottom: 15px;
}

.fullwidth {
  width: 100%;
  position: relative;

  .caption {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
    color: #fff;
    font-size: 3.5rem;
    font-weight: 700;
    text-shadow: 4px 4px 15px rgb(210, 210, 210);
  }

  img {
    width: 100%;
  }
}

.imgbox {
  .image--l,
  .image--r {
    max-width: 350px;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 70px -12px 0;
  width: 100%;

  .item {
    width: calc(50% - 24px);
    margin: 30px 12px 0;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .text {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 10px;
    line-height: 2;
  }

  .title {
    margin: 16px 0 5px;
    font-size: 2rem;
    letter-spacing: 0.1em;
    font-weight: 500;
    line-height: 1.5;

    &::before {
      height: calc(100% - 8px);
    }
  }
}

.list--col2 {
  figure {
    position: relative;
    aspect-ratio: 1.75;
  }

  .caption {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
    color: $white;
    font-size: 2.2rem;
    font-weight: 500;
  }

  @include sp {
    margin-top: 30px;
  }
}

.list--col3 {
  figure {
    position: relative;
    aspect-ratio: 1.4;
  }

  .caption {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
    color: #fff;
    font-size: 2.2rem;
    font-weight: 500;
  }

  @include sp {
    margin-top: 30px;
  }

  .item {
    width: calc(33.33% - 24px);

    @include sp {
      width: 100%;
    }
  }
}

.topic__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #a5a5a5;
  padding: 36px 65px;
  border-radius: 8px;
  margin-top: 16px;

  li {
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.046em;
    line-height: 2;
    position: relative;
    padding: 3px 0 6px 17px;
    width: 100%;

    &::before {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      background-color: $primary;
      left: 0;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }
  }
}

.topic__listttl {
  display: flex;
  align-items: flex-start;
  gap: 0 27px;

  .ttl {
    margin: 0 0 19px;
    border-bottom: 1px solid #a5a5a5;
    font-size: 2.4rem;
    padding-left: 14px;
    padding-bottom: 6px;
    color: $primary;

    &::before {
      top: 48%;
      color: $primary;
    }
  }
}

.bd-0 {
  border: 0 !important;
  padding: 0 !important;
}

.topic__list--col2 {
  gap: 0 20px;

  li {
    width: calc(50% - 10px);
  }
}

.topic__list--col3 {
  gap: 0 28px;

  li {
    width: calc(33.33% - 28px * 2 / 3);
  }
}

.topic__list--link {
  padding: 36px 65px 46px;
  gap: 13px 10px;
  justify-content: space-between;
  background: #fff;

  li {
    width: calc(50% - 14px);
    padding: 3px 0 6px 10px;
    border-bottom: 1px solid #a5a5a5;

    &::before {
      content: none;
    }

    a {
      position: relative;
      letter-spacing: 0;
      transition: all 0.3s ease-in-out;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      padding-right: 25px;
      color: $primary;
      font-weight: 600;

      &::after {
        content: '';
        position: absolute;
        background: url(/assets/img/common/icon/icon_arrow.svg) no-repeat center /
          9px auto;
        width: 9px;
        height: 6px;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

.topic__ttl {
  font-size: 2rem;
  line-height: 1.25;
  color: #a5a5a5;
  margin: 48px 0 25px;
}

.topic__list01--005 {
  background: $white;
  padding: 32px 66px 34px;
  border: 1px solid #a5a5a5;
}

.topicflow {
    position: relative;
    margin-top: 43px;
    counter-reset: section;
  
    &::before {
      content: "";
      border-left: 3px dashed $primary;
      position: absolute;
      height: 100%;
      left: 120px;
      top: 0;
      z-index: 1;
    }
    
    //.topicflow__box .
    &__box {
      width: 100%;
      background: #ff1717;
      padding: 45px 66px 35px;
      display: flex;
      align-items: center;
      position: relative;
      border-radius: 20px;
  
      &:not(:last-child) {
        margin-bottom: 59px;
      }
  
      &:first-child, &:last-child {
          &::before {
              content: "";
              width: 10px;
              height: calc(50% - 55px);
              background: #ff1717;
              position: absolute;
              left: 118px;
              z-index: 2; 
          }
      }
  
      &:first-child {
          &::before {
              top: 0;
          }
      }
  
      &:last-child {
          &::before {
              bottom: 0;
          }
      }
    }
  
    //.topicflow__count .
    &__count {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      height: 138px;
      background: #ff1717;
      z-index: 2;
      border-radius: 50%;
  
      &::before {
          content: "Step";
          font-family: $en-fonts;
          position: absolute;
          top: 9px;
          left: -14px;
          color: $primary;
          font-size: 3.57rem;
          font-weight: 400;
          line-height: 1;
          transform: rotate(-28deg);
          z-index: 2;
      }
  
      span {
        width: 115px;
        height: 115px;
        border-radius: 50%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 5.21rem;
        color: $primary;
        font-family: $en-fonts;
        font-weight: 300;
        position: relative;
        background-color: #fff;
  
        &::after {
          counter-increment: section;
          content: "0"counter(section);
        }
      }
    }
  
    //.topicflow__inner .
    &__inner {
      flex: 1;
      position: relative;
      margin-left: 40px;
    }
  
    //.topicflow__title .
    &__title {
      color: $primary;
      font-weight: 500;
      font-size: 2.2rem;
      letter-spacing: 0.15em;
      font-feature-settings: "palt";
      margin-bottom: 15px;
    }
  }

.topic__heading {
  font-weight: 500;
  font-size: 2.6rem;
  letter-spacing: 0.15em;
  padding-bottom: 23px;
  position: relative;

  &::after {
    content: '';
    width: 240px;
    height: 1px;
    background: $primary;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
  }
}

.topic__pickbox {
  padding: 40px 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #ff1717;
  border: 1px solid currentColor;
}

.topic__picklist {
  max-width: 737px;
  margin: 0 auto;
  width: 100%;

  li {
    font-size: 1.6rem;
    line-height: calc(32 / 16);
    letter-spacing: 0.15em;
    font-weight: 500;
    margin: 0;
    position: relative;
    padding-left: 18px;
    text-align: left;

    &::before {
      content: '※';
      position: absolute;
      left: 0;
    }
  }
}

.list-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 25px;

  .btn01 {
    max-width: 343px;
    width: 100%;
    margin: 0;
  }
}

.faq__info {
    display: block;
}