@use '../abstracts' as *;

/*------------------------------------------------------------
    Block
------------------------------------------------------------*/

.block01 {
  position: relative;
  background-color: $brown-100;
  padding: 50px 0;
  @include sp {
    padding: 20px 0 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: -246px;
    left: 0;
    width: 100%;
    height: 247.5px;
    background: url(/assets/img/common/bg03.png) no-repeat center top / 100%
      100%;
    @include sp {
      background-image: url(/assets/img/common/bg03-sp.png);
      height: 80.5px;
      top: -80.5px;
    }
  }

  &.first {
    padding-bottom: 320px;
    @include sp {
      padding-bottom: 0;
    }

    &::after {
      content: '';
      position: absolute;
      top: -242px;
      right: 0;
      width: 466px;
      height: 319.5px;
      background: url(/assets/img/common/bg05.png) no-repeat center top / 100%
        100%;
      z-index: -1;
      @include sp {
        width: 193.5px;
        height: 73px;
        background-image: url(/assets/img/common/bg05-sp.png);
        top: -73px;
      }
    }
  }

  &.last {
    background-color: $brown-200;
    @include sp {
      z-index: 1;
      margin-top: -6px;
    }

    &::before {
      background-image: url(/assets/img/common/bg04.png);
      @include sp {
        background-image: url(/assets/img/common/bg04-sp.png);
      }
    }

    .block01__inner {
      flex-direction: row-reverse;
      padding: 0 0 0 61px;
      margin-top: -194px;
      @include lg {
        padding: 0 0 0 30px;
      }
      @include sp {
        margin-top: -11px;
        padding: 0;
      }

      &::after {
        right: 46%;
        top: -271px;
        width: 197px;
        height: 275px;
        background-image: url(/assets/img/common/illust03.svg);
        @include tab {
          width: 137px;
          height: 215px;
          right: 40%;
        }
        @include sp {
          background-image: url(/assets/img/common/illust03-sp.svg);
          width: 76px;
          height: 162px;
          right: 20px;
          top: -121px;
        }
      }
    }

    .block01__content {
      margin-top: -28px;
      padding-right: 56px;
      @include lg {
        padding: 0 30px 0 0;
      }
      @include sp {
        padding: 0;
      }
    }

    .block01__img {
      @include sp {
        margin-left: auto;
      }

      &::after {
        background-image: url(/assets/img/common/bg_grad02.png);
        @include sp {
          background-image: url(/assets/img/common/bg_grad02-sp.png);
          left: -60px;
        }
      }
    }
  }

  //.block01__inner .
  &__inner {
    display: flex;
    padding: 0 115px 0 0;
    margin-top: -162px;
    @include lg {
      padding: 0 20px 0 0;
    }
    @include sp {
      flex-direction: column-reverse !important;
      margin-top: -50px;
      padding: 0;
    }

    &::after {
      content: '';
      position: absolute;
      right: 175px;
      top: -267px;
      width: 160px;
      height: 231px;
      background: url(/assets/img/common/illust02.svg) no-repeat center;
      @include tab {
        width: 140px;
        height: 210px;
        right: 90px;
      }
      @include sp {
        width: 109px;
        height: 157px;
        top: -117px;
        right: 26px;
      }
    }
  }

  //.block01__img .
  &__img {
    width: 521px;
    height: 521px;
    position: relative;
    z-index: 1;
    @include lg {
      width: 450px;
      height: 450px;
    }
    @include tab-sm {
      width: 290px;
      height: 290px;
    }
    @include sp {
      width: 275px;
      height: 275px;
      margin-top: 1px;
    }

    &::after {
      content: '';
      position: absolute;
      left: 16px;
      top: 50px;
      width: 490px;
      height: 490px;
      background: url(/assets/img/common/bg_grad01.png) no-repeat center bottom/
        490px;
      z-index: -1;
      @include lg {
        width: 420px;
        height: 420px;
        background-size: 420px;
      }
      @include tab-sm {
        width: 270px;
        height: 270px;
        background-size: 270px;
      }
      @include sp {
        background-image: url(/assets/img/common/bg_grad01-sp.png);
        width: 255px;
        height: 255px;
        background-size: 255px;
        left: 80px;
        top: 52px;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include sp {
        object-fit: contain;
      }
    }
  }

  //.block01__content .
  &__content {
    padding-top: 16px;
    padding-left: 56px;
    flex: 1;
    @include sp {
      padding-left: 0;
      padding-top: 12px;
    }
  }
}

.block04 {
  margin: 30px 0;

  //.block04__inner .
  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include sp {
      display: block;
    }
  }

  //.block04__img .
  &__img {
    width: 368px;
    height: 552px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 20px;
    @include tab {
      width: 268px;
      height: 452px;
    }
    @include sp {
      width: 100%;
      height: 300px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  //.block04__content .
  &__content {
    padding-left: 67px;
    @include tab {
      padding-left: 30px;
    }
    @include sp {
      padding-left: 0;
    }
  }

  .block04__ttl {
    margin: 40px 0 22px;
    @include tab {
      margin: 20px 0 10px;
    }
  }

  //.block04__boxname .
  &__boxname {
    .note {
      font-size: 1.2rem;
      line-height: 1.11;
      margin-bottom: 6px;
      font-weight: 400;
      color: $brown-900;
    }

    .name {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      line-height: 1.2;

      .pos {
        font-size: 1.2rem;
        letter-spacing: 0.05em;
        margin-right: 12px;
      }

      .jp {
        font-size: 2rem;
        letter-spacing: 0.05em;
        font-weight: 500;
        margin-right: 10px;
      }

      .en {
        font-family: $en-fonts;
        font-weight: 500;
        font-size: 1.2rem;
        letter-spacing: 0;
        line-height: 1;
        color: $primary;
      }
    }
  }
}
