@use '../abstracts/' as *;


.breadcrumb {
  position: relative;
  top: -115px;
  margin-left: 20px;
  @include lg {
    top: -50px;
  }
  @include tab {
    top: -30px;
  }
  @include sp {
    top: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  ul {
    display: flex;
    // justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: calc(23 / 12);
    letter-spacing: 0.1em;
    color: $primary;
    padding-top: 15px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 140px;
      height: 1px;
      border-top: 2px dotted $brown-400;
    }
  }

  li:not(:last-child) {
    margin-right: 5px;
  }

  li {
    a {
      color: #a9a3a0;
    }

    span {
      margin-left: 5px;
      color: #a9a3a0;
    }
  }
}
