@use '../abstracts/' as *;
@use 'sass:color';

/*------------------------------------------------------------
    Button
------------------------------------------------------------*/
.btn01 {
  min-width: 171px;
  @include sp {
    min-width: 137.5px;
  }

  //.btn01__txt .
  &__txt {
    width: 100%;
    background-color: $white;
    border-radius: 32.5px;
    min-height: 65px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 42px 5px 46px;
    transition: all 0.3s ease-in-out;
    color: $brown-900 !important;
    text-decoration: none !important;
    position: relative;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.375;
    letter-spacing: 0.1em;
    z-index: 1;
    border: 1px solid $gray-100;
    @include sp {
      font-size: 1.4rem;
      line-height: calc(18.2 / 14);
      min-height: 55px;
      border-radius: 27.5px;
      padding: 5px 30px 5px 32px;
    }

    &::before {
      position: absolute;
      left: 19px;
      content: '';
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
      height: 8px;
      background-color: $primary;
      border-radius: 50%;
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      z-index: -1;
      @include sp {
        left: 14px;
      }
    }

    &::after {
      @include ic-arrow(18px);
      @include sp {
        right: 13px;
      }
    }

    @include md {
      &:hover {
        opacity: 1;
        color: $white !important;

        &::before {
          width: 100%;
          height: 100%;
          border-radius: 32.5px;
          left: 0;
        }

        &::after {
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}

.btn02 {
  a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    position: relative;
    padding: 5px 20px;
    @include sp {
      padding: 5px 15px;
    }

    span {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: -2px;
        border-radius: 50%;
      }
    }
  }
}

.btn03 {
  a {
    width: 100%;
    background-color: $white;
    border-radius: 32.5px;
    min-height: 65px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 42px 5px 20px;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 1;
    border: 1px solid $gray-100;
    @include sp {
      padding: 4px 30px 4px 16px;
      min-height: 55px;
      border-radius: 27.5px;
    }

    &::after {
      @include ic-arrow(18px);
      @include sp {
        right: 14px;
      }
    }

    span {
      position: relative;
      font-size: 1.8rem;
      font-weight: 500;
      line-height: calc(36 / 18);
      letter-spacing: 0.1em;
      color: $brown-900;
      padding-left: 35px;
      @include sp {
        line-height: calc(20.2 / 16);
        padding-left: 32px;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 8px;
        background-repeat: no-repeat;
        background-position: center;
        @include sp {
          top: 16px;
        }
      }
    }
  }
}
