@use '../abstracts/' as *;
/*------------------------------------------------------------
    Faq
------------------------------------------------------------*/
.faq {
  background: #fff;
  border-radius: 10px;
  transition: all 0.3s;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &.is-open {
    .faq__heading {
      &::before {
        transform: rotate(90deg);
      }
    }
  }

  //.faq__list .
  &__list {
    background-color: #3a719e;
    padding: 70px;
    border-radius: 20px;
    @include sp {
      padding: 20px;
      border-radius: 10px;
    }
  }

  //.faq__heading .
  &__heading {
    padding: 26px 70px 25px 28px;
    position: relative;
    cursor: pointer;
    @include sp {
      padding: 15px 32px 15px 9px;
    }

    &::before,
    &::after {
      content: '';
      background: $primary;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      border-radius: 99px;
    }

    &::before {
      width: 2px;
      height: 15px;
      right: 46px;
      transition: all 0.3s;
      @include sp {
        height: 14px;
        right: 15px;
      }
    }

    &::after {
      width: 15px;
      height: 2px;
      right: 39px;
      @include sp {
        width: 14px;
        right: 9px;
      }
    }
  }

  //.faq__ttl .
  .faq__ttl {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.15em;
    position: relative;
    padding-left: 51px;
    @include sp {
      font-size: 1.5rem;
      padding-left: 38px;
    }

    &::before {
      content: 'Q.';
      font-size: 3rem;
      line-height: 1;
      color: #3a719e;
      font-weight: 700;
      font-family: $en-fonts;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      margin-top: -3px;
      @include sp {
        font-size: 2.4rem;
        margin-top: -1px;
      }
    }
  }

  //.faq__info .
  &__info {
    display: none;
    padding: 23px 40px 32px;
    position: relative;
    @include sp {
      padding: 16px 25px 24px 20px;
    }

    &::before {
      content: '';
      width: calc(100% - 120px);
      height: 1px;
      border-bottom: 1px solid #333;
      position: absolute;
      top: 0;
      left: 80px;
      @include sp {
        width: calc(100% - 40px);
        left: 18px;
      }
    }
  }

  //.faq__txt .
  .faq__txt {
    font-size: 1.6rem;
    line-height: 2;
    color: #333;
    position: relative;
    padding-left: 51px;
    letter-spacing: 0.1em;
    font-weight: 400;
    @include sp {
      padding-left: 40px;
      font-size: 1.5rem;
    }

    &::before {
      content: 'A.';
      font-size: 3rem;
      line-height: 1;
      color: $primary;
      font-weight: 700;
      position: absolute;
      font-family: $en-fonts;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      margin-top: -3px;
      @include sp {
        font-size: 2.4rem;
      }
    }
  }
}
