@use '../abstracts/' as *;
/*------------------------------------------------------------
    Faq
------------------------------------------------------------*/
.faq {
  transition: all 0.3s;
    border-bottom: 1px solid $gray-100;

  &.is-open {
    .faq__heading {
      &::before {
        transform: rotate(90deg);
      }
    }
  }

  //.faq__list .
  &__list {
    border-top: 1px solid $gray-100;
  }

  //.faq__heading .
  &__heading {
    padding: 32px 70px 34px 38px;
    position: relative;
    cursor: pointer;
    @include sp {
      padding: 15px 32px 15px 9px;
    }

    &::before,
    &::after {
      content: '';
      background: $primary;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      border-radius: 99px;
    }

    &::before {
      width: 2px;
      height: 16px;
      right: 46px;
      transition: all 0.3s;
      @include sp {
        height: 14px;
        right: 15px;
      }
    }

    &::after {
      width: 16px;
      height: 2px;
      right: 39px;
      @include sp {
        width: 14px;
        right: 9px;
      }
    }
  }

  //.faq__ttl .
  .faq__ttl {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: 0.1em;
    position: relative;
    padding-left: 41px;
    color: $brown-900;
    @include sp {
      font-size: 1.5rem;
      padding-left: 38px;
    }

    &::before {
      content: 'Q';
      font-size: 2.8rem;
      line-height: 1;
      color: $primary;
      font-weight: 600;
      font-family: $en-fonts;
      position: absolute;
      top: -2px;
      left: 0;
      @include sp {
        font-size: 2.4rem;
      }
    }
  }

  //.faq__info .
  &__info {
    display: none;
    padding: 22px 24px 21px 40px;
    position: relative;
    background-color: $brown-100;
    border-radius: 10px;
    margin-bottom: 30px;
    @include sp {
      padding: 16px 25px 24px 20px;
    }
  }

  //.faq__txt .
  .faq__txt {
    font-size: 1.6rem;
    line-height: 2;
    color: $brown-900;
    position: relative;
    padding-left: 38px;
    letter-spacing: 0.1em;
    font-weight: 500;
    @include sp {
      padding-left: 38px;
      font-size: 1.4rem;
    }

    &::before {
      content: 'A';
      font-size: 2.8rem;
      line-height: 1;
      color: $primary;
      font-weight: 600;
      position: absolute;
      font-family: $en-fonts;
      top: 7px;
      left: 0;
      @include sp {
        font-size: 2.4rem;
      }
    }
  }
}
