@use '../abstracts' as *;

/*------------------------------------------------------------
    Form
------------------------------------------------------------*/
.contact-form {
    .must {
        text-align: right;
        margin-bottom: 2em;
        font-size: 1.4rem;
        color: #F00;
    }
}

.contact-table {
    border: 1px solid #cfd5da;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    @include sp {
        border: 0;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    dl {
        position: relative;
        z-index: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include sp {
            display: block;
        }

        &:last-child {
            dd, dt {
                border-bottom: 0;
            }

            dd {
                @include sp {
                    border-bottom: 1px solid #cfd5da;
                }
            }
        }
    }

    dt {
        border-bottom: 1px solid $white;
        background: $primary;
        display: flex;
        // flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        width: 27%;
        padding: 0 2%;
        font-size: 1.6rem;
        color: $white;
        font-weight: 700;
        @include sp {
            width: 100%;
            font-size: 1.4rem;
            border-left: 1px solid #cfd5da;
            border-right: 1px solid #cfd5da;
            padding: 10px;
        }

        span {
            display: inline-block;
            border-radius: 7px;
            padding: 2px 7px;
            margin-left: 8px;
            font-size: 1.2rem;
            line-height: 1;
            background: $white;
            color: $primary;
            white-space: nowrap;
        }
    }

    dd {
        border-bottom: 1px solid #cfd5da;
        width: 73%;
        padding: 28px 25px;
        background: $white;
        @include sp {
            width: 100%;
            border-left: 1px solid #cfd5da;
            border-right: 1px solid #cfd5da;
            padding: 15px 10px;
        }
    }

    input[type=text], input[type=email], input[type=tel] {
        width: 100%;
        border: 1px solid #cfd5da;
        padding: 10px 8px;
        border-radius: 5px;
        font-size: 1.4rem;
        font-family: $jp-fonts;
        font-weight: 500;
        @include sp {
            width: 100%;
            font-size: 1.6rem;
        }
    }

    input[type=checkbox], input[type=radio] {
        box-sizing: border-box;
        padding: 0;
        vertical-align: baseline;
        cursor: pointer;
    }

    .dd_icon {
        p {
            display: flex;
            align-items: center;
            @include sp {
                display: block;
            }
        }
    }

    input[type=date], select{
        border: 1px solid #808080;
        padding: 10px 8px;
        border-radius: 5px;
        font-size: 1.4rem;
        font-family: $jp-fonts;
        margin-left: 10px;
        @include sp {
            font-size: 1.6rem;
        }
    }

    select {
        padding: 8px;
    }

    .inline {
        display: flex;
        align-items: center;

        @include sp {
            font-size: 1.4rem;
        }

        span {
            max-width: 75px;
            margin: 0 5px;
            text-align: center;
            width: 80px;
        }

        input {
            text-align: center;
        }
    }

    textarea {
        border-color: #cfd5da;
        max-width: 100%;
        width: 100%;
        height: 8em;
        font-size: 1.4rem;
        font-family: $jp-fonts;
        padding: 10px;
        font-weight: 500;
        @include sp {
            font-size: 1.6rem;
        }
    }
}

.wpcf7-radio, .wpcf7-checkbox {
    label {
        margin: 0;
        padding: 0;

        span {
            display: inline-block;
            padding-left: 5px;
        }
    }
}

.contact_note  {
    text-align: center;
}

.contact_text {
    margin: 15px 0;
    padding: 13px 20px;
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #cfd5da;

    p {
        font-size: 1.4rem !important;
    }
}

.wpcf7-not-valid-tip {
    display: block;
    margin: 3px 7px 0;
    color: #f00;
    @include sp {
        font-size: 1.4rem;
    }
}

.wpcf7-response-output {
    text-align: center;
    margin-top: 10px;
}

.screen-reader-response {
    display: none;
}

.input_btn ,.button.thanks_btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 520px;
    margin: 40px auto 0;

    input[type=submit], input[type="button"], .prev, .button.thanks_btn a{
        background: $primary;
        color: $white !important;
        width: 200px;
        height: 45px;
        border: 1px solid transparent;
        padding: 10px;
        text-align: center;
        margin: 0 10px 10px;
        cursor: pointer;
        border-radius: 40px;
        font-size: 1.6rem;
        line-height: 1.2;
        transition: all .3s ease-in-out;

        &:hover {
            opacity: 1;
            background: $white;
            border: 1px solid $primary;
            color: $primary !important;
        }
    }
}

.wpcf7-list-item {
    display: inline-block;
    margin: 0 0 0 1em;
}

.contact-thanks {
    text-align: center;
    font-size: 2.8rem;
    @include sp {
        font-size: 1.5rem;
    }
}

.contact-note {
    line-height: 1.5;
    margin-top: 30px;
    @include sp {
        margin-top: 20px;
    }
}