@use '../abstracts' as *;

/*------------------------------------------------------------
    List
------------------------------------------------------------*/
.list01 {
  display: flex;
  position: relative;
  z-index: 1;
  @include sp {
    max-width: 335px;
    margin: 0 auto;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 540px;
    height: 206px;
    background: url(/assets/img/common/bg07.png) no-repeat center / 100% 100%;
    z-index: -1;
    @include tab {
      width: 489px;
      height: 185px;
    }
    @include tab-sm {
      width: 456px;
      height: 171px;
    }
    @include sp {
      background-image: url(/assets/img/common/bg07-sp.png);
      width: 335px;
      height: 187px;
    }
  }

  //.list01__item .
  &__item {
    width: 100%;
    max-width: 206px;
    height: 206px;
    // background-color: $white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 31px 32px 10px 33px;
    @include tab {
      padding: 26px 29px 10px 22px;
      max-width: 193px;
      height: 160px;
    }
    @include tab-sm {
      padding: 25px 20px 10px 24px;
      max-width: 171px;
      height: 147px;
    }
    @include sp {
      padding: 19px 20px 19px 25px;

      &:nth-child(odd) {
        margin-top: 46px;
      }
    }

    &:not(:last-child) {
      margin-right: -38px;
      @include tab-sm {
        margin-right: -25px;
      }
      @include sp {
        margin-right: -41px;
      }
    }
  }

  //.list01__head .
  &__head {
    display: block;

    .txt {
      font-size: 1.8rem;
      font-weight: 500;
      letter-spacing: 0.1em;
      line-height: calc(32.04 / 18);
      color: $brown-900;
      @include tab {
        font-size: 1.6rem;
      }
      @include tab-sm {
        font-size: 1.4rem;
      }
    }

    .num {
      color: $white;
      background-color: $primary;
      border-radius: 3px;
      letter-spacing: 0.05em;
      font-size: 1.8rem;
      line-height: calc(28.9 / 18);
      font-family: $en-fonts;
      font-weight: 600;
      padding: 3px 4px 2px;
      @include tab {
        font-size: 1.6rem;
      }
      @include tab-sm {
        font-size: 1.4rem;
      }
      @include sp {
        padding: 3px 2px 2px;
      }
    }
  }

  //.list01__txt .
  &__txt {
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    line-height: calc(27.2 / 16);
    margin-top: 12px;
    padding-top: 7px;
    border-top: 3px dotted transparent;
    border-image: repeating-linear-gradient(
        to right,
        $brown-200 0 3px,
        transparent 3px 7px
      )
      1;
    @include tab {
      font-size: 1.4rem;
    }
    @include tab-sm {
      font-size: 1.2rem;
    }
    @include sp {
      font-size: 1.4rem;
      margin-top: 7px;
      padding-top: 5px;
      border-width: 2px;
      border-image: repeating-linear-gradient(
          to right,
          $brown-200 0 2px,
          transparent 2px 7px
        )
        1;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      display: -webkit-box;
      line-height: calc(21 / 14);
    }
  }
}

.list02 {
  display: flex;
  gap: 25px;
  margin-top: 60px;
  @include tab-sm {
    gap: 20px;
  }
  @include sp {
    flex-wrap: wrap;
    margin-top: 32px;
    gap: 22px 10px;
  }

  //.list02__item .
  &__item {
    position: relative;
    width: calc(25% - 10px);
    overflow: hidden;
    @include md {
      &:hover {
        opacity: 1;

        .list02__img {
          transform: scale(1.1);
        }
      }
    }
    @include tab-sm {
      width: calc(25% - 5px);
    }
    @include sp {
      width: calc(50% - 5px);

      &:nth-child(3) {
        .list02__ttl {
          a {
            letter-spacing: 0.03em;
            padding: 12px 25px 8px 10px;
          }
        }
      }
    }
  }

  //.list02__top .
  &__top {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    @include sp {
      border-radius: 10px;
    }
  }

  //.list02__img .
  &__img {
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
    @include sp {
      height: 170px;
      border-radius: 10px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  //.list02__ttl .
  &__ttl {
    position: absolute;
    bottom: 0;
    left: 0;

    p {
      background-color: $white;
      border-radius: 0 15px;
      display: inline-block;
      padding: 12px 42px 4px 10px;
      color: $brown-900;
      font-weight: 500;
      font-size: 1.8rem;
      letter-spacing: 0.1em;
      line-height: calc(27 / 18);
      position: relative;
      @include tab {
        font-size: 1.4rem;
      }
      @include sp {
        font-size: 1.6rem;
        border-radius: 0 10px;
        padding: 12px 34px 7px 10px;
        line-height: calc(20.8 / 16);
      }

      &::after {
        @include ic-arrow(19px);
        transform: none;
        bottom: 12px;
        top: auto;
        @include sp {
          right: 15px;
        }
      }
    }
  }

  .txt01 {
    margin-top: 19px;
    padding-top: 10px;
    border-top: 2px dotted transparent;
    border-image: repeating-linear-gradient(
        to right,
        $brown-400 0 2px,
        transparent 2px 8px
      )
      1;
      @include sp {
        padding-left: 6px;
        padding-right: 5px;
        text-align: justify;
      }
  }
}

.list03 {
  margin-top: 23px;
  @include sp {
    margin-top: 4px;
  }

  //.list03__item .
  &__item {
  }

  //.list03__link .
  &__link {
    display: flex;
    align-items: flex-start;
    padding: 30px 45px 30px 0;
    position: relative;
    border-bottom: 1px solid $gray-100;
    @include sp {
      padding: 26px 40px 26px 0;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 35px;
      height: 1px;
      transition: all 1s cubic-bezier(0.4, 0, 0, 1);
      background-color: $primary;
    }
    @include md {
      &:hover {
        opacity: 1;

        &::before {
          width: 100%;
          left: 0;
          right: 0;
        }

        .btn {
          &::before {
            background-color: $brown-400;
          }
        }
      }
    }

    .num {
      font-size: 1.4rem;
      color: $primary;
      font-weight: 500;
      font-family: $en-fonts;
      letter-spacing: 0.05em;
      margin-top: 8px;
      @include tab-sm {
        margin-top: 3px;
      }
    }

    .txt {
      font-size: clamp(1.6rem, 1.367vw + 0.55rem, 2.3rem);
      font-weight: 500;
      letter-spacing: 0.08em;
      line-height: calc(32.79 / 23);
      color: $brown-900;
      margin-left: 14px;
      @include sp {
        font-size: 1.8rem;
        line-height: calc(26 / 18);
        margin-left: 5px;
      }
    }

    .btn {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 38px;
      height: 38px;
      @include sp {
        width: 30px;
        height: 30px;
      }

      &::before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 50%;
        border: 1px solid $gray-100;
        width: 38px;
        height: 38px;
        transition: all 0.3s ease-in-out;
        @include sp {
        width: 30px;
        height: 30px;
      }
      }

      &::after {
        @include ic-arrow(15px);
        @include sp {
          right: 10px;
        }
      }
    }
  }
}

.list-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 25px;
  @include sp {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
  }

  .btn01 {
    width: 343px;
    margin: 0;
    letter-spacing: 0.015em;
    @include sp {
      width: 100%;
    }
  }
}
