@use '../abstracts' as *;

/*------------------------------------------------------------
    Modal
------------------------------------------------------------*/
.modal01 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10001;
  font-size: 1.4rem;
  opacity: 0;
  display: none;

  &.active {
    opacity: 1;
  }

  //.modal01__bg .
  &__bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    padding: 50px;
    @include sp {
      padding: 35px 20px;
    }
  }

  //.modal01__content .
  &__content {
    max-width: 64.1em;
    width: 100%;
    margin: 0 auto;
    background-color: $white;
    position: relative;
    background: $white;
  }

  //.modal01__close .
  &__close {
    position: absolute;
    top: -1.2em;
    right: -1.2em;
    width: 3.5em;
    height: 3.5em;
    background-color: $primary;
    border-radius: 50%;
    z-index: 3;
    cursor: pointer;
    transition: 0.3s all;
    border: 2px solid $white;
    &::before, &::after {
      position: absolute;
      top: 20px;
      left: 10px;
      width: 25px;
      height: 4px;
      content: "";
      background-color: $white;
      border-radius: 10px;
    }
    &::before {
      transform: rotate(-45deg);
    }
    &::after {
      transform: rotate(45deg);
    }
  }

  //.modal01__inner .
  &__inner {
    position: relative;
    max-height: calc(90vh - 50px);
    overflow-y: auto;
    @include sp {
      max-height: calc(83vh - 50px);
    }
  }

  .content {
    padding: 2em;
    @include sp {
      padding: 2em 1em;
    }
  }

  @import '../components/content';

  h2 {
    margin-top: 0;
    @include sp {
      font-size: 2.5rem;
    }
  }

  h3 {
    line-height: 1.3;
    @include sp {
      font-size: 2.2rem;
    }
  }

  p {
    @include sp {
      font-size: 1.4rem;
      text-align: justify;
    }
  }
}