@use '../abstracts/' as *;

/*------------------------------------------------------------
    Top Slide
------------------------------------------------------------*/
.slide01 {
  width: 100vw;
  min-width: 1180px;

  //.slide01__item .
  &__item {
    width: 345px;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
    border-radius: 172.5px;
    clip-path: inset(0 round 172.5px);
    @include tab {
      width: 245px;
    }
    @include sp {
      width: 265px;
      border-radius: 133px;
      clip-path: inset(0 round 133px);
    }

    &::after {
      @include ic-arrow(auto);
      left: 50%;
      transform: translateX(-50%);
      top: auto;
      bottom: 30px;
      background-image: url(/assets/img/common/icon/icon_arrow05.svg);
      @include sp {
        width: 11px;
        height: 10px;
        bottom: 20px;
      }
    }
    @include md {
      &:hover {
        .slide01__img {
          transition: transform 12s cubic-bezier(0, 0.1, 0.05, 0.99),
            -webkit-transform 12s cubic-bezier(0, 0.1, 0.05, 0.99);
          transform: scale(1.1) translate3d(0, -5%, 0);
        }

        &::after {
          transform: scale(1.3) translateX(calc(-50% + 2px));
        }
      }
    }
  }

  //.slide01__img .
  &__img {
    position: relative;
    transition: transform 12s cubic-bezier(0.03, 0.71, 0.12, 0.96),
      -webkit-transform 12s cubic-bezier(0.03, 0.71, 0.12, 0.96);
    height: 525px;
    overflow: hidden;
    border-radius: 172.5px;
    @include tab {
      height: 425px;
    }
    @include sp {
      height: 380px;
      border-radius: 133px;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 223.5px;
      mix-blend-mode: multiply;
      background: linear-gradient(
        0deg,
        rgba(142, 134, 130, 1) 0%,
        rgba(142, 134, 130, 0) 100%
      );
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  //.slide01__content .
  &__content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: $white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 34.6%;
    @include tab {
      height: 44.6%;
    }
    @include sp {
      height: 42.6%;
    }

    .ttl {
      font-size: 2.5rem;
      font-weight: 700;
      letter-spacing: 0.1em;
      line-height: calc(36 / 25);
      margin-bottom: 11px;
      @include tab {
        font-size: 2rem;
      }
      @include sp {
        font-size: 2.2rem;
        margin-bottom: 5px;
      }
    }

    .date {
      background-color: $primary;
      border-radius: 5px;
      font-size: 1.44rem;
      letter-spacing: 0.05em;
      line-height: 1.5;
      font-weight: 700;
      padding: 1px 10px 2px;

      .num {
        font-family: $en-fonts;
        font-weight: 600;
      }
    }
  }
}

.slide02 {
  position: relative;
  background-color: $brown-100;
  padding: 346px 0 0;
  margin-top: -315px;
  @include sp {
    z-index: 1;
    padding: 271px 0 0;
    margin-top: -302px;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: -50px;
    background: url(/assets/img/common/bg_wave.png) no-repeat center top / 100%
      100%;
    width: 100%;
    height: 50px;
    @include sp {
      background-image: url(/assets/img/common/bg_wave-sp.png);
      height: 16px;
      top: -16px;
    }
  }

  .slide02__item {
    margin-left: 10px;
    margin-right: 10px;
    width: 625px;
    height: 360px !important;
    @include tab {
      width: 525px;
      height: 260px;
    }

    @include sp {
      margin-left: 8px;
      margin-right: 8px;
      width: 373px;
      height: 215px !important;
    }
  }

  figure {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 15px;

    img {
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.slide-arr {
  display: flex;
  align-items: center;
  max-width: 327px;
  flex: 1;
  margin-top: 32px;
  @include sp {
    margin-top: 8px;
    z-index: 2;
    position: relative;
  }

  .slide-arrow {
    position: relative;
    outline: none;
    cursor: pointer;
    display: flex;
    background-color: $white;
    height: 51px;
    width: 140px;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    margin-right: 29px;
    @include sp {
      margin-right: 0;
    }
  }

  .arrow-next,
  .arrow-prev {
    width: 50%;
    text-align: center;
    height: 100%;
    position: relative;
    margin: 0 auto;

    img {
      width: 10.5px;
      height: 100%;
    }
  }

  .arrow-prev {
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 23.5px;
      background-color: $gray-100;
    }
  }

    .slide-dots {
    flex: 1;
    width: 100%;
    position: relative;
    display: flex !important;
    font-size: 0;
    line-height: 0;
    gap: 23px;

    &.pc {
      @include sp {
        display: none !important;
      }
    }

    &.sp-only {
      display: none !important;
      @include sp {
        display: flex !important;
        z-index: 1;
        margin-top: 12px;
      }
    }

    li {
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: $gray-300;
      cursor: pointer;

      &.on {
        background-color: $primary;
      }
    }
  }
}

.slide03 {
  position: relative;
  margin-bottom: 55px;
  @include sp {
    margin-bottom: 0;
  }

  .slide03__item {
    margin-left: 15px;
    margin-right: 15px;
    width: 762px;
    height: auto !important;
    @include tab {
      width: 662px;
    }
    @include sp {
      width: 350px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  figure {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 508px;
    border-radius: 20px;
    @include tab {
      height: 408px;
    }
    @include sp {
      height: 258px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  //.slide03__info .
  &__info {
    position: relative;
    padding: 14px 20px;
    margin: 0 auto;
    z-index: 2;
  }

  .slide03__txt {
    text-align: center;
    font-weight: 500;
    line-height: calc(32 / 16);
    margin-bottom: 0;
    color: $brown-900;
  }

  .slick-arrow {
    background-color: $white;
    background-repeat: no-repeat;
    background-size: 10.5px 12px;
    z-index: 4;
    width: 51px;
    height: 51px;
    top: calc(50% - 2.5em);
    font-size: 10px;
    border: 0;
    position: absolute;
    transform: translateY(-50%);
    cursor: pointer;
    color: transparent;
    border-radius: 5px;
    @include sp {
      width: 3.5em;
      height: 3.5em;
      background-size: 0.7em auto;
    }
  }

  .slick-next {
    background-image: url(/assets/img/common/icon/icon_arrow04.svg);
    background-position: calc(50% + 0.2em) 50%;
    right: 24em;
    @include tab {
      right: 2em;
    }
    @include sp {
      right: 0.4em;
    }
  }

  .slick-prev {
    background-image: url(/assets/img/common/icon/icon_arrow03.svg);
    background-position: calc(50% - 0.2em) 50%;
    left: 24em;
    @include tab {
      left: 2em;
    }
    @include sp {
      left: 0.4em;
    }
  }

  .slick-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    display: flex !important;
    justify-content: center;
    align-items: center;

    li {
      width: 7px;
      height: 7px;
      margin: 5px 10px;
      cursor: pointer;
      background-color: #d4d1cf;
      border-radius: 50%;

      &.slick-active {
        background-color: $primary;
      }

      button {
        border: 0;
        display: none;
      }
    }
  }
}
