@use '../abstracts' as *;

/*------------------------------------------------------------
    Table
------------------------------------------------------------*/
.table01 {
  //.table01__inner .
  &__inner {
    border: 1px solid $gray-100;
    border-radius: 10px;
    overflow: hidden;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    thead {
      tr {
        border-bottom: 1px solid $gray-100;
        height: 42px;
        @include sp {
          height: 43px;
        }
      }

      th {
        width: 8.7%;
        height: 42px;
        @include sp {
          height: 40px;
          width: 9%;
        }
      }
    }

    th,
    td {
      padding: 4px 2px;
      font-size: 1.6rem;
      text-align: center;
      font-weight: 500;
      line-height: calc(26.25 / 16);
      border-left: 1px solid $gray-100;
      height: 43px;
      letter-spacing: 0.1em;
      @include sp {
        height: 42px;
        font-size: 1.3rem;
        padding: 2px 0;
      }
    }

    th {
      &:first-of-type {
        padding-left: 0;
        width: 22.2%;
        text-align: center;
        padding-right: 0;
        border-left: 0;
        @include sp {
          width: 9%;
        }
      }

      &:last-of-type {
        @include sp {
          width: 10%;
        }
      }
    }

    tr {
      &:not(:last-child) {
        border-bottom: 1px solid $gray-100;
      }
    }
  }

  //.table01__txt .
  &__txt {
    font-weight: 500;
    font-size: 1.4rem !important;
    letter-spacing: 0.1em;
    line-height: calc(26.25 / 14);
    margin-top: 8px;
    @include tab-sm {
      font-size: 1.2rem !important;
    }
    @include sp {
      font-size: 1.4rem !important;
      margin-top: 8px;
      line-height: calc(18.25 / 14);

      .txt-sp {
        margin-left: 73px;
      }
    }
  }
}

.ovs {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.table03 {
  overflow: hidden;
  border: 1px solid $gray-100;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 15px;

  tbody {
    td,
    th {
      border: 1px solid $gray-100;
      padding: 20px 10px;
      font-size: 1.6rem;
      font-weight: 700;
      letter-spacing: 0;
      line-height: 1.4;
      color: $primary;
      @include sp {
        font-size: 1.2rem;
        letter-spacing: 0;
        padding: 15px 5px;
      }
    }

    tr {
      background-color: $white;
    }

    th {
      text-align: center;
      // width: 300px;
      min-width: 83px;
      background-color: $brown-100;
      width: auto;

      @include sp {
        // width: 30% !important;
      }
    }

    td {
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.05em;
      color: $brown-900;
      @include sp {
        letter-spacing: 0;
        min-width: 49px;
      }
    }
  }

  &.fix_table {
    table-layout: fixed;
  }

  &.roll_table {
    @include sp {
      width: 768px;
    }
  }

  &.resTable {
    @include sp {
      display: block;
      border-bottom: 1px solid $gray-100;
      border: 0;

      tbody,
      tr,
      th,
      td {
        display: block;
      }

      th,
      td {
        border-bottom: 0;
      }

      tr {
        &:last-child {
          border-bottom: 1px solid $gray-100;
        }
      }
    }
  }
}

.table03__note {
  display: none;
  @include sp {
    display: block;
    font-size: 1.3rem !important;
    color: #ccc !important;
    letter-spacing: 0.02em !important;
    margin-top: 2px;
    line-height: 1.2 !important;
  }
}
