@use '../abstracts' as *;

/*------------------------------------------------------------
    Title
------------------------------------------------------------*/
.title01 {
  position: relative;
  z-index: 1;

  .jp {
    color: $brown-900;
    font-size: 3.7rem;
    font-weight: 700;
    letter-spacing: 0.015em;
    position: relative;
    padding-left: 28px;
    line-height: calc(59.09 / 37);
    @include tab {
      font-size: 2.6rem;
    }
    @include sp {
      font-size: 2.8rem;
      padding-left: 22px;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 13px;
      height: 13px;
      background-color: $primary;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
    }

    &::after {
      position: absolute;
      top: -53px;
      left: -50px;
      content: attr(title);
      font-weight: 600;
      font-family: $en-fonts;
      font-size: 15rem;
      letter-spacing: 0.05em;
      line-height: 0.8;
      text-align: center;
      color: $white;
      z-index: -1;
      @include tab {
        font-size: 10rem;
        left: -30px;
      }
      @include sp {
        font-size: 5.75rem;
        top: -3px;
        left: -27px;
      }
    }
  }

  //.titl01--style01 .
  &--style01 {
    .en {
      display: block;
      font-size: 1.6rem;
      font-weight: 600;
      font-family: $en-fonts;
      line-height: calc(31.75 / 16);
      letter-spacing: 0.05em;
      color: $primary;
      @include sp {
        margin-bottom: -7px;
      }
    }

    .jp {
      font-size: 4rem;
      display: block;
      @include tab {
        font-size: 3rem;
      }
      @include sp {
        font-size: 2.8rem;
        letter-spacing: -0.05em;
      }
    }
  }
}

.title02 {
  position: relative;
  z-index: 1;

  .jp {
    color: $brown-900;
    font-size: clamp(2.5rem, 2.344vw + 0.7rem, 3.7rem);
    font-weight: 700;
    letter-spacing: 0.12em;
    position: relative;
    padding-left: 27px;
    line-height: calc(58.69 / 37);
    display: block;
    margin-top: 2px;
    @include sp {
      margin-top: -5px;
      padding-left: 24px;
      font-size: 2.8rem;
      line-height: calc(39.09 / 28);
      letter-spacing: 0.1em;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 13px;
      height: 13px;
      background-color: $primary;
      border-radius: 50%;
      top: 25px;
      @include sp {
        top: 15px;
      }
    }
  }

  .en {
    color: $primary;
    font-family: $en-fonts;
    font-weight: 600;
    letter-spacing: 0.05em;
    line-height: calc(31.75 / 16);
    display: block;
  }
}
