@use '../abstracts' as *;
/*------------------------------------------------------------
    Table of Contents Plus
------------------------------------------------------------*/
.maincontent #toc_container {
  width: 100%;
  margin: 20px 0;
  background: $brown-100 !important;
  border: 0 !important;
  padding: 20px !important;
  width: auto;
  font-size: 100%;
  display: block;
  border-radius: 15px;

  @include sp {
    padding: 15px;
  }

  .toc_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  li {
    width: 48%;
    margin: 8px 1%;
    border-bottom: 2px dotted $brown-400;
    padding: 3px 0 6px;
    @include sp {
      width: 100%;
      margin: 6px 0;
      font-size: 1.4rem;
    }
  }

  a {
    display: block;
    position: relative;
    color: $brown-900;
    font-size: 1.6rem;
    font-weight: 500;
    transition: 0.3s all;
    text-decoration: none !important;

    &::before {
      content: none;
    }

    &::after {
      @include ic-arrow(0);
    }
    @include md {
      &:hover {
        opacity: 1;
        color: $primary;
        text-decoration: none;
      }
    }
  }
}
