@use '../abstracts/' as *;

/*------------------------------------------------------------
    Footer
------------------------------------------------------------*/

.footer {
  padding: 69px 0 114px;
  position: relative;
  overflow: hidden;
  @include sp {
    padding: 11px 0 75px;
  }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 474px;
    height: 136px;
    background: url(/assets/img/common/bg06.png) no-repeat center top / 100%
      100%;
      @include sp {
        content: none;
      }
  }

  //.footer__flex .
  &__flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include lg {
      flex-wrap: wrap;
      gap: 30px;
    }
    @include sp {
      display: none;
    }
  }

  //.footer__info .
  &__info {
    width: 100%;
    max-width: 368px;
  }

  //.footer__logo .
  &__logo {
    padding-bottom: 30px;
    margin-bottom: 25px;
    border-bottom: 1px dashed $gray-100;

    a {
      display: flex;
      flex-direction: column;
    }

    img {
      max-width: 368px;
    }

    .note {
      color: $white;
      background-color: $primary;
      font-weight: 700;
      font-size: 1.5rem;
      letter-spacing: 0.15em;
      line-height: 1.3;
      padding: 7px 9px 6px 15px;
      border-radius: 5px;
      margin: 1px 0 0 72px;
      max-width: fit-content;
    }
  }

  //.footer__address .
  &__address {
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    line-height: calc(20.25 / 16);
    color: $brown-900;
    margin-bottom: 12px;
  }

  //.footer__tel .
  &__tel {
    font-weight: 600;
    font-family: $en-fonts;
    font-size: 2.5rem;
    letter-spacing: 0.1em;
    line-height: calc(31.14 / 25);

    span {
      font-size: 1.6rem;
    }
  }

  //.footer__nav .
  &__nav {
    width: 100%;
    max-width: calc(100% - 463px);
    padding-top: 8px;
    @include lg {
      max-width: 100%;
    }
  }

  //.footer__menu .
  &__menu {
    display: flex;
    flex-flow: wrap column;
    max-height: 428px;
    gap: 0 40px;

    li {
      &:not(:last-child) {
        margin-bottom: 18px;
      }

      a {
        font-size: 1.4rem;
        color: $brown-900;
        font-weight: 500;
        line-height: calc(19 / 14);
        letter-spacing: 0.1em;
        position: relative;
        padding-left: 10px;
        display: inline-block;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 6px;
          width: 4px;
          height: 7px;
          background: url(/assets/img/common/icon/icon_arrow06.svg) no-repeat
            center;
        }
      }
    }
  }

  //.footer__copyright .
  &__copyright {
    color: $primary;
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0.1em;
    line-height: calc(24 / 11);
    margin-top: -39px;
    @include lg {
      margin-top: 20px;
    }
    @include sp {
      text-align: center;
      margin: 0;
    }
  }
}

.js-totop {
  position: fixed;
  transition: all 0.3s ease;
  bottom: 100px;
  right: 40px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: $primary;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07);
  color: $white;
  border: 0;
  cursor: pointer;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;

  @include tab {
    width: 50px;
    height: 50px;
    right: 20px;
  }

  @include sp {
    width: 50px;
    height: 50px;
    bottom: 75px;
    right: 10px;
  }

  &.is-active {
    transform: translate(0);
    visibility: visible;
    opacity: 1;

    &:hover {
      opacity: 0.8;
    }
  }

  span {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;

    &::before,
    &::after {
      content: '';
      display: block;
      box-sizing: border-box;
      position: absolute;
      top: 4px;
    }

    &::after {
      width: 8px;
      height: 8px;
      border-top: 2px solid;
      border-left: 2px solid;
      transform: rotate(45deg);
      left: 7px;
    }

    &::before {
      width: 2px;
      height: 16px;
      left: 10px;
      background: currentColor;
    }
  }
}

.sticky {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 5;
  padding: 0 30px;
  transition: all 0.3s ease-in-out;
  @include sp {
    padding: 0;
    left: 0;
  }

  ul {
    display: flex;
    align-items: flex-end;
    gap: 5px;
    @include sp {
      gap: 0;
      width: 100%;
      height: 60px;
      border-radius: 7.5px 7.5px 0 0;
      overflow: hidden;
    }

    li {
      @include sp {
        width: 20.95%;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &:not(:last-child) {
          a,
          .btn_modal {
            border-right: 0;
          }
        }
      }

      a,
      .btn_modal {
        background-color: $white;
        border-radius: 10px 10px 0 0;
        display: flex;
        align-items: center;
        min-height: 65px;
        padding: 10px 38px 10px 18px;
        cursor: pointer;
        border: 1px solid $gray-100;
        position: relative;
        @include sp {
          justify-content: center;
          flex-direction: column;
          align-items: center;
          border-radius: 0;
          min-height: 60px;
          padding: 2px 6px;
          width: 100%;
          border-bottom: 0;
        }

        &::after {
          @include ic-arrow(18px);
          @include sp {
            content: none;
          }
        }

        .icon {
          width: 20px;
          height: 15px;
        }

        .txt {
          font-size: 1.8rem;
          font-weight: 500;
          letter-spacing: 0.1em;
          margin-left: 10px;
          @include sp {
            font-size: 1.1rem;
            margin-left: 0;
            text-align: center;
            margin-top: 3px;
          }
        }
      }
    }

    .tel {
      a {
        padding: 10px 42px 10px 20px;
        @include sp {
          padding: 5px 2px;
          border-radius: 7.5px 0 0;
        }

        .icon {
          height: 18px;
          margin-bottom: 4px;
          @include sp {
            height: 20px;
          }
        }

        .txt {
          font-family: $en-fonts;
          letter-spacing: 0.02em;
          @include sp {
            letter-spacing: 0.1em;
          }
        }
      }
    }

    .entry {
      @include sp {
        width: 150px;
      }

      a {
        min-height: 80px;
        min-width: 251px;
        border-color: $primary;
        @include sp {
          min-width: 150px;
          min-height: 60px;
          border-radius: 0 7.5px 0 0;
        }

        &::after {
          right: 14px;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          background: url(/assets/img/common/icon/icon_arrow07.svg) no-repeat
            center / 10px;
          background-color: $brown-100;
        }

        p {
          margin-left: 0;
          @include sp {
            margin: 0;
          }
        }

        span {
          color: $primary;
          font-weight: 900;
          font-size: 3.3rem;
          letter-spacing: 0.1em;
          position: relative;
          padding-left: 54px;
          @include sp {
            font-size: 2.2rem;
            padding-left: 49px;
          }

          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 2px;
            border-radius: 50%;
            width: 45px;
            height: 45px;
            background: url(/assets/img/common/icon/icon_send.svg) no-repeat
              center / 25px;
            background-color: $brown-100;
            @include sp {
              width: 40px;
              height: 40px;
              background-size: 22px;
              top: -4px;
            }
          }
        }
      }
    }

    .mail {
      @include sp {
        a {
          .txt {
            margin-top: 8px;
          }
        }
      }
    }
  }

  .map {
    .btn_modal {
      .icon {
        width: 18px;
        height: 20px;
      }
    }

    .close {
      display: none;
    }

    &.active {
      .open {
        display: none;
      }

      .close {
        display: block;
      }
    }
  }
}

.modal-map {
  &.active {
    transition: 0.3s ease all;
    opacity: 1;
    visibility: visible;
  }
}
