@use '../abstracts/' as *;

/*------------------------------------------------------------
    Page
------------------------------------------------------------*/
.mv01 {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 39.7%;
    top: 115px;
    background: url(/assets/img/common/cirle03.png) no-repeat center / 55px;
    width: 55px;
    height: 55px;
    z-index: 1;
  }

  &::after {
    content: '';
    position: absolute;
    left: -126px;
    bottom: 0;
    background: url(/assets/img/common/cirle10.png) no-repeat center / 220px;
    width: 220px;
    height: 220px;
  }

  //.mv01__inner  .
  &__inner {
    @include md {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 10px;
    }
    position: relative;
  }

  //.mv01__img .
  &__img {
    max-width: calc(50% + 85px);
    width: 100%;
    padding-top: 30.2%;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 20px 20px;
    @include sp {
      padding-top: 48%;
      margin-top: 15px;
      margin-left: auto;
      max-width: calc(100% - 20px);
      border-radius: 10px 0 0 10px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  //.mv01__content .
  &__content {
    @include md {
      padding: 30px 20px 0;
      max-width: 1180px;
      position: absolute;
      height: 100%;
      display: flex;
      align-items: center;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      z-index: 1;
    }
    @include sp {
      padding: 5% 20px 0;
    }
  }

  //.mv01__title .
  &__title {
    font-size: 4.4rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: $brown-900;
    @include sp {
      font-size: 2.5rem;
    }
  }

  //.mv01__list .
  &__list {
    position: relative;
    z-index: 2;
  }
}

/*------------------------------------------------------------
    Main Content
------------------------------------------------------------*/
.maincontent {
  padding-top: 115px;
  padding-bottom: 70px;
  position: relative;
  z-index: 1;

  @include tab {
    padding-top: 40px;
  }

  @include sp {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  @import '../components/content';

  .section__popup {
    padding-top: 50px;

    .btn01 {
      margin: 0 auto;
      max-width: 320px;

      .btn01__txt {
        width: 100%;
        cursor: pointer;
      }
    }
  }
}

.under {
  @include sp {
    padding-top: 60px;
  }
  .section {
    padding-top: 55px;
    @include sp {
      padding-top: 40px;
    }

    &-pd02 {
      padding-top: 32px;
    }

    &-pd03 {
      padding-top: 39px;
    }

    &-pd04 {
      padding-top: 62px;
    }

    &-pd06 {
      padding-top: 62px;
    }

    &-pd07 {
      padding-top: 30px;
    }

    &-pd08 {
      padding-top: 20px;
    }

    &-pd09 {
      padding-top: 38px;
    }

    &-pd10 {
      padding-top: 38px;
    }

    &-pd11 {
      padding-top: 51px;
    }

    &-pd12 {
      padding-top: 57px;
    }

    &-pd13 {
      padding-top: 44px;
    }

    &-pd14 {
      padding-top: 58px;
    }
  }
}
