@use '../abstracts/' as *;

/*------------------------------------------------------------
    Mainvisual
------------------------------------------------------------*/
.mv {
  position: relative;
  height: 100vh;

  &::after {
    content: '';
    position: absolute;
    bottom: -226px;
    width: 100%;
    height: 642px;
    background: url(/assets/img/common/bg01.png) no-repeat center top / 100%
      100%;
    z-index: -1;
  }

  //.mv__wrap .
  &__wrap {
    position: relative;
    padding-right: 10px;
  }

  //.mv__img .
  &__img {
    width: calc(50% + 85px);
    position: relative;
    margin-left: auto;
    height: 100vh;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  //.mv__content .
  &__content {
    top: 18%;
    left: 5.5%;
    position: absolute;
  }

  //.mv__ttl .
  &__ttl {
    font-size: 4.5rem;
    font-weight: 900;
    letter-spacing: 0.1em;
    line-height: calc(64.94 / 45);
    position: relative;
    color: $brown-900;
    text-shadow: -3px -3px 0 #fff, 3px -3px 0 #fff, -3px 3px 0 #fff,
      3px 3px 0 #fff, 0 -3px 0 #fff, 0 3px 0 #fff, -3px 0 0 #fff, 3px 0 0 #fff,
      0 0 3px #fff, 0 0 5px #fff;
    margin-bottom: 8px;
  }
  //.mv__txt .
  &__txt {
    font-size: 2rem;
    line-height: calc(35.2 / 20);
    font-weight: 700;
    letter-spacing: 0.1em;
    color: $brown-900;
  }

  //.mv__box .
  &__box {
    margin-top: 38px;
    margin-left: -21px;
  }
}
/*------------------------------------------------------------
    Message
------------------------------------------------------------*/
.message {
  padding: 152px 0 1px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 247px;
    background: url(/assets/img/common/bg02.png) no-repeat center bottom / 100%
      100%;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 247px;
    background-color: $brown-200;
    width: 100%;
    height: calc(100% - 247px);
    z-index: -1;
  }

  //.message__inner .
  &__inner {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    margin-top: 3px;
    padding-top: 59px;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      right: 50px;
      top: -140px;
      width: 341px;
      height: 232px;
      background: url(/assets/img/common/cirle01.png) no-repeat center / 341px;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background-color: $white;
      width: calc((929 / 1280) * 100vw);
      height: calc(100% - 122px);
      border-radius: 0 15px 15px 0;
    }
  }

  //.message__content .
  &__content {
    margin: 0 55px 0 0;
    width: calc((542 / 1280) * 100vw);
    position: relative;
    z-index: 2;

    &::before {
      content: '';
      position: absolute;
      right: -227px;
      top: -78px;
      width: 106px;
      height: 192px;
      background: url(/assets/img/common/illust01.svg) no-repeat center;
    }

    &::after {
      content: '';
      position: absolute;
      right: -66px;
      bottom: -153px;
      width: 110px;
      height: 110px;
      background: url(/assets/img/common/cirle02.png) no-repeat center / 110px;
    }
  }

  //.message__txt .
  &__txt {
    font-size: 1.8rem;
    line-height: calc(36 / 18);
    letter-spacing: 0.13em;
    font-weight: 500;
    color: $brown-900;
    margin-bottom: 32px;
  }

  //.message__btns .
  &__btns {
    display: flex;
    gap: 15px;
  }

  //.message__img .
  &__img {
    position: relative;
    z-index: 2;
    mask: url(/assets/img/common/path01.png) no-repeat center / 100% 100%;
    overflow: hidden;
    width: 583.5px;
    height: 660.5px;
    margin-top: 60px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
/*------------------------------------------------------------
    Interview
------------------------------------------------------------*/
.interview {
  position: relative;
  padding: 0 0;
  background-color: $brown-200;

  //.interview__head .
  &__head {
    display: flex;
    margin-bottom: 44px;
    gap: 0 20px;
  }
}
/*------------------------------------------------------------
    Sample
------------------------------------------------------------*/
/*------------------------------------------------------------
    Sample
------------------------------------------------------------*/
/*------------------------------------------------------------
    Sample
------------------------------------------------------------*/
/*------------------------------------------------------------
    Sample
------------------------------------------------------------*/

.message {
  //.message__boxname .
  &__boxname {
    width: 300px;
    height: 90px;
    bottom: 20px;
    border-radius: 7px;
    padding: 10px;
    background: $white;
    padding: 15px 9px 15px 15px;
    @include sp {
      left: 50%;
      transform: translateX(-50%);
      bottom: -45px;
    }

    .note {
      font-size: 1.44rem;
      font-weight: 400;
      letter-spacing: 0.1em;
    }

    .name {
      display: flex;
      align-items: center;
      letter-spacing: 0.1em;

      .pos {
        font-size: 1.68rem;
        font-weight: 500;
        margin-right: 10px;
      }

      .jp {
        font-size: 2.41rem;
        font-weight: 700;
        margin-right: 5px;
      }

      .en {
        font-size: 1.2rem;
        font-weight: 400;
        // color: $gray;
        letter-spacing: 0;
      }
    }
  }
}
