@use '../abstracts/' as *;

/*------------------------------------------------------------
  Display
------------------------------------------------------------*/
.sp-only {
  display: none !important;

  @include sp {
    display: block !important;
  }
}

.pc {
  display: block !important;

  @include sp {
    display: none !important;
  }
}

.pc-only {
  @include tab {
    display: none;
  }
}

.bd-0 {
  border: 0 !important;
  padding: 0 !important;
}

.clearfix {
  &::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
  }
}

.hide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 2;
}

.u-tel {
  pointer-events: none;
  @include sp {
    pointer-events: all;
  }
}